<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlink}}
</head>

<body>
   {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 max-auto">
                <div class="row">
                    <!---right side div-->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/err.png" alt="shivani" class="img-fluid" tittle="girlimage">
                        </figure>

             
                        <p>Error Is Find Here </p>
                        <h1>Oops ! page is not found</h1>
                        <a href="https://github.com/shivaniverma2002" target="_blank"><button>Go Back</button></a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
   {{>footer}}
</body>

</html>